.slide {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #000;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif; /* Add this line */
}

.slide .main {
  font-weight: 700; /* Bold for main text */
}

.slide .sub {
  margin-top: 10px;
  font-weight: 400; /* Regular for subtext */
}
