.slide {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #000;
  cursor: pointer;
}

.slide .main {
  font-weight: bold;
}

.slide .sub {
  margin-top: 10px;
}
